h1 {
    text-align: center;
    color: azure;
}

.h1-taskList {
    text-align: center;
    color: rgb(53, 51, 51);
}

.content {
    display: flex;
    border: 1px solid tomato
}

/*.control {
    display: block;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 10px 5px;
}

.control label{
    font-size: 14px;
    color: #a0a0a0;
} */

#iImportant.fas {
    color: rgb(236, 24, 24);
}

#iImportant {
    font-size: 30px;
}

#capture { 
    flex: 1;
    background-color: rgb(53, 51, 51);
    padding: 1rem 2rem;
}

#list {
    flex: 2;
    background-color: azure;
}

.card-title {
    border-bottom: 2px solid black;
    margin-bottom: 0;
}

.card-text {
    margin-bottom: 0;
}


