h1 {
    text-align: center;
    color: rgb(23, 137, 230);
}

.content {
    display: flex;
    border: 1px solid tomato
}


#capture { 
    flex: 1;
    background-color: rgb(53, 51, 51);
    padding: 1rem 2rem;
}

#list {
    flex: 1;
    background-color: azure;
}

